@import "./src/sass/helpers/var"

.about
    display: flex
    width: 100%
    background-image: url('../img/slider_bg.jpg')
    margin-top: 12.5%

.history
    margin-left: 35vw
    display: flex
    flex-direction: column
    width: 100%
    align-items: center
    padding: 0 5%
    background-image: url('../img/bg.jpg')
    background-attachment: fixed

    &__title
        font-size: 2vw
        font-weight: 600
        text-transform: initial
        color: $black

    &--wrapper
        display: grid
        grid-template-columns: repeat(3, 1fr)
        // grid-template-rows: repeat(4, minmax(10rem, 1fr))
        grid-gap: 2.5vw
        padding: 2.5vw
        justify-content: center
        align-items: center

.event
    background-color: #f1f1f1
    display: flex
    flex-direction: column
    width: 100%
    align-items: center
    padding: 10%
    box-shadow: -10px 10px 15px 2.5px rgba($black, 0.15)
    height: 100%
    border-top-left-radius: 30px
    border-bottom-left-radius: 30px
    border-bottom-right-radius: 30px
    transition: $transition
    text-transform: initial

    &:hover
        box-shadow: -10px 10px 15px 2.5px rgba($green-light, 0.15)

    &__number
        text-align: center
        font-size: 1.75vw
        font-weight: 600
        color: $green

    &__description
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        padding: 5% 0
        line-height: 1vw
        font-size: 0.9vw
        color: $black
@media screen and ( max-width: 1600px)
    .event
        &__description
            line-height: 1.25vw

@media screen and ( max-width: 1366px)
    .history
        margin-left: 30vw
@media screen and ( max-width: 1224px)
    .history
        margin-left: 25vw
@media screen and ( max-width: 1024px)
    .history
        margin-left: 0
        &--wrapper
            grid-template-columns: repeat(3, 1fr)

    .event
        &__description
            padding: 5% 10%
            font-size: 1.25vw
            line-height: 1.5vw

@media screen and ( max-width: 768px)
    .about
        margin-top: 20%
    .history
        margin-left: 0
        &--wrapper
            grid-template-columns: repeat(2, 1fr)
        &__title
            padding: 2.5vw 0
            font-size: 3.75vw

    .event
        &__number
            font-size: 3.5vw
        &__description
            font-size: 1.85vw
            line-height: 2vw

@media screen and ( max-width: 480px)
    .about
        margin-top: 27.5%

    .history
        &--wrapper
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 3.5vw
        &__title
            font-size: 6.5vw
            padding-bottom: 5vw

    .event
        &__number
            font-size: 5vw
        &__description
            padding: 5% 0
            font-size: 2.5vw
            line-height: 3.5vw
@media screen and (max-device-width: 768px) and (min-device-width: 320px) and (orientation: landscape)
    .about
        margin-top: 15%
