@import "./src/sass/helpers/var"

.header
  width: 100%
  padding: 0 7.5%
  display: flex
  justify-content: flex-end
  align-items: center
  margin: 0 auto
  position: fixed
  top: 0
  left: 0
  z-index: 9999
  transition: all 0.3s ease
  overflow: hidden
  animation: hideHeader 2s ease forwards
  // clip-path: circle(10.5rem at 15%)
  // clip-path: circle(10% at 15.5%)

  img
    &:nth-child(even)
      position: absolute
      bottom: 0
      right: 0
      width: 75%
      height: 225%
      transform: translateY(65%)

  &--size
    animation: showHeader 2s ease forwards
    // align-items: baseline

    .logo
      &__link
        transition: $transition
        transform: translateY(0)

      &__caption
        color: $black
        font-size: 1.5vw

  &--position
    animation: showHeader 2s ease forwards
    & .logo
      &__link
        min-height: 10vh
        transition: $transition
        transform: translateY(0)

      &__caption
        color: $black
        font-size: 1.5vw

@keyframes showHeader
  0%
    transition: all 2s ease
    clip-path: circle(15% at 15% 50%)
    background-color: $black
  100%
    clip-path: circle(200% at 15% 50%)
    background-color: $white

@keyframes hideHeader
  0%
    transition: all 2s ease
    background-color: $white
    clip-path: circle(200% at 15% 50%)

  100%
    clip-path: circle(7.5% at 12.5% 40%)
    background-color: $black

@media screen and (max-width: 1366px)
  .header
    padding: 0 7.5%

@media screen and (max-width: 1224px)
  .header
    justify-content: space-between
    transition: $transition
    &--direction
      position: relative
      transition: $transition
      background-color: rgba($light-olive, 1)
      padding: 5% 0
      flex-direction: column
      .logo
        width: 40%

@media screen and (max-width: 768px)
  .header
    min-height: 10vh
