@import "./src/sass/helpers/var"

.logo
  position: relative
  left: 0
  display: flex
  align-items: center
  justify-content: center
  width: 11.25vw
  transition: $transition
  border-radius: 50%
  &__link
    width: 60%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    min-height: 10vw

    position: relative
    object-fit: cover
    background: center / contain no-repeat url('../img/logo_white.png')
    transition: $transition
    overflow: hidden

  &__icon
    width: 20%
    height: 20%
    margin: 0 auto 0.25vw
    transition: $transition

  &__caption

    display: flex
    font-size: 1.75vw
    color: $white
    transition: $transition

@keyframes showLogo
  20%
    background-color: $black
  100%
    min-height: 15vw
    background-color: $black

@media screen and ( max-width: 1224px)
  .logo
    &__caption

@media screen and (max-width: 768px)
  .logo
    width: 17.5vw
    &__link
      width: 80%
      min-height: 15vw

    &__caption
      font-size: 3vw
      padding: 0.75vw 0

@media screen and (max-width: 480px)
  .logo
    width: 35vw
    &_link

      min-height: 20vw
