@import "./src/sass/helpers/var"

.product-types
    width: 100%
    display: flex

    &--wrapper
        width: 60%
        margin: 0 auto
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center

    &__title
        font-size: 2vw
        color: $green
        font-weight: 700
        display: flex
        justify-content: center
        align-items: center

    &__description
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        font-size: 1vw
        text-align: center
        margin: 2.5vw 0
        line-height: 1.5vw

.type
    display: grid
    width: 100%
    grid-template-columns: repeat(3, 1fr)
    justify-items: center
    grid-gap: 2.5vw

    &__item
        width: 100%
        padding: 5%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    &__diagram
        display: flex
        width: 10vw
        height: 10vw
        border-radius: 50%
        // margin: 2.5vw 0
        position: relative
        justify-content: center
        align-items: center
        text-align: center
        font-weight: 600
        color: $white
        font-size: 1vw
        padding: 2vw
        // background: center / contain no-repeat url('../img/1.png')

        // &::before
        //     content: ''
        //     position: absolute
        //     display: block
        //     height: 150%
        //     width: 150%
        //     top: 50%
        //     left: 50%
        //     transform: translate(-50%, -50%)
        //     border-radius: 50%
        //     border: 10px solid $green

    &__caption
        font-size: 1vw
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        text-align: center
        margin-top: 2.5vw

.diagram-1
    background: center / contain no-repeat url('../img/1.png')
.diagram-2
    background: center / contain no-repeat url('../img/2.png')
.diagram-3
    background: center / contain no-repeat url('../img/3.png')

.pros
    display: grid
    grid-template-columns: repeat(3, 1fr)
    width: 100%
    padding-bottom: 5%
    grid-gap: 2.5vw
    justify-items: center

    &__item
        display: flex
        flex-direction: column
        width: 100%
        align-items: center

    &__icon
        display: flex
        justify-content: center
        align-items: center
        padding: 20%
        height: auto
        min-height: 15vw
    &__caption
        display: flex
        width: 100%
        margin-bottom: 2.5vw
        font-size: 1vw
        text-align: center
        justify-content: center
        align-items: center
        line-height: 1.5vw

.properties
    width: 65%
    margin: 0 auto
    display: flex
    flex-direction: column
    padding: 7.5% 0 0

    &__legend
        font-size: 1vw
        display: flex
        line-height: 1.5vw
        justify-content: center
        text-align: center
        align-items: center
        font-weight: 700
        color: $green

.properties-list
    display: flex
    width: 100%
    justify-content: space-evenly
    align-items: center
    padding: 5% 0

    &__item
        display: flex
        position: relative
        font-size: 0.9vw
        padding-left: 2vw
        text-align: center
        justify-content: center

        &::before
            display: block
            position: absolute
            content: ''
            top: 50%
            left: 0
            width: 1vw
            height: 100%
            border-radius: 50%
            border: 3px solid $green
            transform: translate(0, -50%)
            transition: $transition

        &:hover
            &::before
                border: 3px solid $green-light

@media screen and ( max-width: 768px)
    .product-types
        &--wrapper
            width: 85%
        &__title
            font-size: 3.25vw
        &__description
            font-size: 2vw
            line-height: 3vw

    .type
        &__diagram
            width: 20vw
            height: 20vw
            font-size: 1.5vw

        &__caption
            font-size: 1.75vw
            line-height: 3vw

    .pros
        &__caption
            font-size: 1.75vw
            line-height: 3vw

    .properties
        width: 85%
        &__legend
            font-size: 2.25vw
            line-height: 3.25vw

    .properties-list
        &__item
            font-size: 1.75vw
            &::before
                width: 1.5vw

@media screen and ( max-width: 480px)
    .product-types
        &--wrapper
            width: 90%
        &__title
            font-size: 5.5vw
        &__description
            font-size: 3vw
            line-height: 4vw

    .type
        &__diagram
            width: 27.5vw
            height: 27.5vw
            font-size: 2.75vw

        &__caption
            font-size: 2.5vw
            text-align: center
            line-height: 3.5vw

    .pros
        padding-bottom: 7.5vw
        &__caption
            font-size: 2.5vw
            line-height: 3.5vw

    .properties
        width: 90%
        &__legend
            font-size: 2.75vw
            line-height: 3.5vw

    .properties-list
        flex-direction: column
        align-items: flex-start
        padding: 5%
        &__item
            padding-left: 5vw
            margin: 1.5vw 0
            font-size: 2.5vw
            &::before
                width: 2vw
